.flex
  display flex
  &-col
    display flex
    flex-direction column
  &-right
    display flex
    justify-content end
  &-bottom
    display flex
    flex-direction column
    justify-content end
  &-center
    display flex
    justify-content center
    align-items center
  &-col-center
    display flex
    flex-direction column
    justify-content center
    align-items center
  &-center-x
    display flex
    justify-content center
  &-center-y
    display flex
    align-items center
  &--between
    justify-content space-between
  &--around
    justify-content space-around
  &--evenly
    justify-content space-evenly
  &--wrap
    flex-wrap wrap
  &--rev
    flex-direction row-reverse
  &--stretch
    align-items stretch
  &--align-end
    align-items flex-end
  &--align-baseline
    align-items baseline
  &__1
    flex 1
  &__2
    flex 2
  &__3
    flex 3
  &__4
    flex 4
