.icon
  for name, length in lengths
    &-{name}
      width length
      height length
  &--red
    fill color-red-600
  &--blue
    fill color-blue-600
  &--green
    fill color-green-600
  &--green
    fill color-black-dark
