for size, value in font-sizes
  .font-size-{size}
    font-size value
    line-height line-height-ratio

// @font-face
//   font-family MontserratMedium
//   font-style normal
//   src url(/assets/Montserrat-Medium.ttf)

// .with-montserrat-medium
//   font-weight 500
//   font-family MontserratMedium, sans-serif

.with-system-font
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
  font-weight 500
