.shape
  min-height 1rem
  //background-color rgba(color-grey-100, 0.3)
  &--tall
    min-height 30rem
  &--short
    min-height 5rem
  &--red
    background-color color-red-300
  &--green
    background-color color-green-300
  &--blue
    background-color color-blue-300
