.flex
  display flex
  &--reverse
    flex-direction row-reverse
  &--col
    flex-direction column
  &--col-reverse
    flex-direction column-reverse
  &--wrap
    flex-wrap wrap
  &--center
    justify-content center
  &--end
    justify-content end
  &--align-start
    align-items flex-start
  &--align-center
    align-items center
  &--align-end
    align-items flex-end
  &--align-baseline
    align-items baseline
  &--center-all
    justify-content center
    align-items center
  &__1
    flex 1
  &__2
    flex 2
  &__3
    flex 3
