.rack
  for name, length in lengths
    &-{name}
      > * + *
        margin-left length * line-height-ratio * 0.5

.stack
  for name, length in lengths
    &-{name}
      > * + *
        margin-top length * line-height-ratio * 0.5
