doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    title Bristle Board
    link(type='text/css' rel='stylesheet' href='site.css')
    unless nodeEnv === 'production'
      script(src="/assets/dev_websocket.js")
    script(src="/main.app.js" defer)
  body
    include assets/svg_icons
    .page
      header.header
        .header__content.flex__1 Bristle Board
      section.app-anchor
