@require 'styles/normalize'
@require 'styles/constants'
@require 'styles/font'
@require 'styles/layout'
@require 'styles/content'

*
  box-sizing border-box

p,article,h1,h2,h3,h4,h5
  max-width 64ch

a
  cursor pointer
  text-decoration none
  color color-blue-400

p
  margin 0

ul
  padding-left 0
  margin-top 0
  margin-bottom 0

li
  list-style-type none

body
  color color-grey-900
  overflow-x hidden
  width 100vw

